<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Lala Sweets</title>
</head>
<body>
    <div class="main">
        <header class="row">
            
            <div>
                <a class='brand' href="index.html">Lala's Sweets</a>
            </div>

            <div>
                <a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                <a href="signin.html"><i class="fas fa-sign-in-alt"></i></a>
            </div>

        </header>

        <main>
            <div class="row center">
                <div class="card">
                    <a class='medium' href="product.html">
                        <img src="./images/p2.jpeg" alt="gulabjamun"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Lala GulabJamun</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <div class="price">
                            Rs.35/pc
                        </div>
                </div>
                
                </div>

                <div class="card">
                    <a class='medium' href="product.html">
                        <img src="./images/p1.jpeg" alt="gulabjamun"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Lala Director Laddu</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            Rs.400/kg
                        </div>
                </div>
                
                </div>
                
                <div class="card">
                    <a class='medium' href="product.html">
                        <img src="./images/p3.jpeg" alt="gulabjamun"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Lala Kaju Katli</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                        <div class="price">
                            Rs.950/kg
                        </div>
                </div>
                
                </div>
                <div class="card">
                    <a class='medium' href="product.html">
                        <img src="./images/p4.jpeg" alt="gulabjamun"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Lala Jalebi</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                        <div class="price">
                            Rs.350/kg
                        </div>
                </div>
                
                </div>

            </div>
        </main>

        <footer class="row center">
            Since 1965
        </footer>
    </div>

    <script src="https://kit.fontawesome.com/704ff50790.js" crossorigin="anonymous"></script>
</body>
</html>